@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


* {
  box-sizing: border-box;
  margin: 0;
  list-style: none !important;
  text-decoration: none !important;
  --main-font:#FEFCFC;
  --second-font:#A7A5A5;
  
}
body {
  background-color: var(--body-color) !important;
}
 .title-div p , .details {
 color: var(--second-font) ;
}
h1 {
  color: var(--main-font) !important;
}
:root {
  --main-color:#272B30;
  --span-color :#185BBF;
  --body-color:#3C3E42;
}
.font-all {
  font-size: 14px !important;
}

ul {
  padding: 0;
  margin: 0;
}
.font {
  font-family: 'Josefin Sans', cursive !important;
  font-weight: 600 !important;
}

.main-logo {
  width: 80px;
}
.nav-item {
  margin-inline: 10px;
}
.nav-link {
  color: #fff !important;
  font-weight: 500 !important;
}
.navbar {
  background-color: #185bbf96;
}

.span-font , .icon {
color:var(--span-color)
}
.title-div {
  background-image: url(./Assets/images/dashboard\ image1.png);
}
.categories-slider {
  box-shadow: 3px 3px 10px #212831;
}
.slider-font {
  border: 2px solid #185BBF;
  
} 
.fon-type {
  font-family: Rubik Puddles,cursive;
  text-shadow: 3px 3px 10px #185BBF;
}
input {
  background-color: #0000003d !important;
  color: #FEFCFC !important;
}
.cursor {
  cursor: pointer;
}
.sub-menu {
  z-index: 999999999999999;
  /* background: var(--second-font) !important; */
}
input::placeholder {
  color: #FEFCFC !important;
  opacity: 1; /* Firefox */
}
.layer ,input {
  background-color: #0000003b;
}
.card-border {
  transition: 1s;
  border: 2px solid #858ea1;
}
h4 .spanDet {
  font-size: 16px !important;
  font-weight: 300 !important;
}
input #input {
  box-shadow: none !important;
  border: none !important;
  
}
.card-border:hover {
 
  transform: scale(1.1);
  /* border-radius: 10%; */
  
}
.background {
  background-color: var(--span-color) !important;
  color: #fff !important;
}
.navbar h5 {
  font-size: 16px !important;
  padding-inline: 10px;
}
.navbar h5:hover {
  background-color: #272b3041 !important;
}


.register-div {
  width: 80%;
}
#search-div {
  width: 500px !important;
  top: 60px;
  background-color: #00000057 !important;
 max-height: 400px !important;
 overflow-y: auto;
  z-index: 99999;
 
}





@media (max-width: 991.98px){
  
 .button-ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
 }
 .nav-item {
  margin-bottom: 10px ;
 }
 
 .container.special { 
  padding-inline: 40px !important;
  box-sizing: border-box;
 }
 
 .categories-slider {
  display: none !important;
 }
 
}
@media (max-width:600px) {
  #search-div {
width: 420px !important;

  }
 
}